
\.idea

Bazaar/obj/

Bazaar\.MongoDbStorage/obj/

Bazaar\.Common/obj/

Bazaar\.sln\.DotSettings\.user

Bazaar\.Common/bin/Debug/netcoreapp2\.1/

Bazaar\.MongoDbStorage/bin/Debug/netcoreapp2\.1/

Bazaar/bin/Debug/netcoreapp2\.1/

Bazaar/wwwroot/images/

Bazaar/appsettings\.json
