
\.idea
Datagram/bin/
Datagram/obj/
Datagram\.MongoDbStorage/bin/
Datagram\.MongoDbStorage/obj/




Datagram\.sln\.DotSettings\.user

Egghead\.MongoDbStorage/bin/Debug/netcoreapp2\.0/

Egghead\.MongoDbStorage/obj/Debug/netcoreapp2\.0/

Egghead\.MongoDbStorage/obj/

Egghead/obj/Debug/netcoreapp2\.0/

Egghead/bin/Debug/netcoreapp2\.0/

Egghead/obj/

Egghead\.Common/bin/Debug/netcoreapp2\.0/

Egghead\.Common/obj/

Egghead/wwwroot/css/style\.css

Egghead/wwwroot/css/style\.css\.map

Egghead\.Common/bin/Debug/netcoreapp2\.1/

Egghead\.MongoDbStorage/bin/Debug/netcoreapp2\.1/

Egghead/bin/Debug/netcoreapp2\.1/

Egghead\.IntegrationTests/bin/Debug/netcoreapp2\.1/

Egghead\.IntegrationTests/obj/Debug/netcoreapp2\.1/

Egghead\.IntegrationTests/obj/

Egghead/appsettings\.json
