<div id="edit-tags__modal" class="modal fade" data-backdrop="static" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <span class="font-weight-bold">Edit tags for this post</span>
                <button type="button" class="btn btn-link" data-dismiss="modal">
                    <span>
                        <i class="zmdi zmdi-close zmdi-hc-fw"></i>
                    </span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <select id="edit-tags" class="form-control" multiple="multiple">
                        <option></option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button id="add-tags__cancel" type="button" class="btn btn-light" data-dismiss="modal">
                    Cancel
                </button>
                <button id="add-tags__save" type="button" class="btn btn-primary__advert">
                    Save
                </button>
            </div>
        </div>
    </div>
</div>