@using Advert.Models.Post
@model PostsAggregatorViewModel

@await Html.PartialAsync("_Header", Model.Profile)

<style>
    .pac-container { z-index: 2000 !important; }
</style>

<section class="content">
    <div class="row">
        @if (Model.Profile == null)
        {
            <div class="col-md-3 p-1">
                @await Html.PartialAsync("SignUpOrLoginPartial", Model.Profile)
            </div>        
        }
        else
        {
            <div class="col-md-3 p-1">
                <div class="card team__item">
                    @await Html.PartialAsync("ProfilePartial", Model.Profile)
                </div>
            </div> 
        }
        <div class="col-md-6 p-1">
            <div class="card">
                @await Html.PartialAsync("PostsPartial", Model.Posts)
            </div>
            @await Html.PartialAsync("PaginationPartial")
        </div>
        <div class="col-md-3 p-1">
            
        </div>
    </div>
    @await Html.PartialAsync("AddPostModal")
    @await Html.PartialAsync("EditPostModal")
    @await Html.PartialAsync("DeletePostModal")
</section>