@using Advert.Models.Profiles
@model ProfileViewModel

<header class="header">
    <div class="header__logo">
        <h1>
            <a href="/" style="text-decoration: none">BAZAAR</a>
        </h1>
    </div>
    <form class="search">
        <div class="search__inner">
            <input type="text" class="search__text" placeholder="Search">
            <i class="zmdi zmdi-search search__helper" data-ma-action="search-close"></i>
        </div>
    </form>
    @if (Model != null)
    {
        <ul class="top-nav">
            <li class="hidden-xl-up">
                <a href="" data-ma-action="search-open">
                    <i class="zmdi zmdi-search"></i>
                </a>
            </li>
            <li class="dropdown" onclick="onAddPostClick()">
                <a href="" title="" aria-expanded="false" data-placement="top" data-target="#add__post--modal" data-toggle="modal">
                    <i class="zmdi zmdi-comment-edit zmdi-hc-fw"></i>
                </a>
            </li>
            <li class="dropdown hidden-xs-down">
                <a href="" data-toggle="dropdown" class="waves-effect" aria-expanded="false">
                    <i class="zmdi zmdi-more zmdi-hc-fw"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-171px, 36px, 0px);">
                    <a href="/@Model.Name" class="dropdown-item">Profile</a>
                    <div class="dropdown-separator"></div>
                    <a id="sign-out__dropdown" href="#" class="dropdown-item">Log Out</a>
                </div>
            </li>
        </ul>
    }
    else
    {
        <ul class="top-nav">
            <li class="hidden-xl-up">
                <a href="" data-ma-action="search-open">
                    <i class="zmdi zmdi-search"></i>
                </a>
            </li>
            <li class="dropdown hidden-xs-down">
                <a href="" data-toggle="dropdown" class="waves-effect" aria-expanded="false">
                    <i class="zmdi zmdi-help-outline zmdi-hc-fw"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-171px, 36px, 0px);">
                    <a href="#" class="dropdown-item">About Advert</a>
                    <a href="#" class="dropdown-item">Privacy Policy</a>
                    <a href="#" class="dropdown-item">Terms & Conditions</a>
                    <div class="dropdown-separator"></div>
                    <a id="report-problem" href="#" class="dropdown-item">Report a Problem</a>
                </div>
            </li> 
        </ul>
    }  
</header>