<!DOCTYPE html>
<html>

<head>
    <title>Advert.md</title>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description"/>
    <meta content="Coderthemes" name="author"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <link rel="shortcut icon" href="~/images/favicon.ico">
    
    <link href="~/css/dropzone.css" rel="stylesheet" type="text/css"/>
    <link href="~/css/font.css" rel="stylesheet" type="text/css"/>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="~/css/select2.css" rel="stylesheet" type="text/css">
    <link href="~/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="~/css/simplemde.css" rel="stylesheet" type="text/css">
    <link href="~/css/animate.css" rel="stylesheet" type="text/css">
</head>

<body id="body" data-ma-theme="advert" style="display: none">

<script src="~/js/popper.js"></script>
<script src="~/js/jquery.min.js"></script>
<script src="~/js/select2.full.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/waves.js"></script>
<script src="~/js/turndown.js"></script>
<script src="~/js/simplemde.js"></script>
<script src="~/js/dropzone.js"></script>

@RenderBody()
</body>
</html>

<script>
    $(window).on('load',
        function() {
            $('#body').fadeIn(200);
        });

    $(document).ready(function() {
        var body = $('body');

        body.on('focus',
            '.search__text',
            function() {
                $(this).closest('.search').addClass('search--focus');
            });

        body.on('blur',
            '.search__text',
            function() {
                $(this).val('');
                $(this).closest('.search').removeClass('search--focus');
            });

        body.on('click',
            '[data-ma-action]',
            function(e) {
                e.preventDefault();
                var $this = $(this);
                var action = $this.data('ma-action');
                switch (action) {
                case 'search-open':
                    $('.search').addClass('search--toggled');
                    break;
                case 'search-close':
                    $('.search').removeClass('search--toggled');
                    break;
                }
            });
    });
</script>