<!DOCTYPE html>
<html>
<head>
    <title>Advert.md</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description"/>
    <meta content="Advert" name="author"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link rel="shortcut icon" href="~/images/favicon.ico">
    <link href="~/css/dropzone.css" rel="stylesheet" type="text/css"/>
    <link href="~/css/font.css" rel="stylesheet" type="text/css"/>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="~/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="~/css/simplemde.css" rel="stylesheet" type="text/css">
    <link href="~/css/animate.css" rel="stylesheet" type="text/css">
    <link href="~/css/select2.css" rel="stylesheet" type="text/css">
    <link href="~/css/tagify.css" rel="stylesheet" type="text/css"/>
</head>
<body id="body" data-ma-theme="advert" style="display: none">
@RenderBody()
</body>
</html>
<script src="~/js/popper.js"></script>
<script src="~/js/jquery.min.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/waves.js"></script>
<script src="~/js/turndown.js"></script>
<script src="~/js/simplemde.js"></script>
<script src="~/js/dropzone.js"></script>
<script src="~/js/select2.js"></script>
<script src="~/js/advert.js"></script>
<script src="~/js/jquery.tagify.js"></script>
<script>
    var turndown = new TurndownService();
    
    var textEditor = {};

    function initMap() {
        new google.maps.places.Autocomplete($("#add-post__location")[0])
            .addListener('place_changed',
                function() {

                });
        new google.maps.places.Autocomplete($("#edit-post__location")[0])
            .addListener('place_changed',
                function() {

                });
    }

    function onLogInClick() {
        var model = {
            email: $("#log-in__email").val(),
            password: $("#log-in__password").val()
        };

        var token = $("input[name=__RequestVerificationToken]").val();

        var headers = {};

        if (token) {
            headers["RequestVerificationToken"] = token;
        }

        logInByEmailAsync(model,
            headers,
            function(response) {
                if (response.errors != null && response.errors.length > 0) {
                    $("#log-in__alert").show().text(response.errors.map(function(element) {
                        return element.description;
                    }).join(","));
                } else {
                    console.log("Close log in modal")
                    $("#log-in__modal").modal('toggle');
                    console.log(`Redirect to URL: ${response.returnUrl}`);
                    window.location.replace(response.returnUrl);
                }
            }, function(jqXhr, textStatus, errorThrown) {
                alert("Unauthorized user");
            });
    }

    function onSignUpClick() {
        var model = {
            name: $("#sign-up__name").val(),
            email: $("#sign-up__email").val(),
            password: $("#sign-up__password").val(),
            culture: navigator.language
        };

        var token = $("input[name=__RequestVerificationToken]").val();

        var headers = {};

        if (token) {
            headers["RequestVerificationToken"] = token;
        }

        createNewAccountAsync(model,
            headers,
            function(response) {
                if (response.errors != null && response.errors.length > 0) {
                    $("#sign-up__alert").show().text(response.errors.map(function(element) {
                        return element.description;
                    }).join(","));
                } else {
                    console.log("Close sign up modal")
                    $("#sign-up__modal").modal('toggle');
                    console.log(`Redirect to URL: ${response.returnUrl}`);
                    window.location.replace(response.returnUrl);
                }
            });
    }

    function onAddPostClick() {
        $("#add-post__post").off("click").click(function() {
            var post = {
                text: textEditor["add-post__text--editor"].options.previewRender(textEditor["add-post__text--editor"].value()),
                title: $("#add-post__title").val(),
                price: $("#add-post__price").val(),
                location: $("#add-post__location").val(),
                currency: $('#add-post__currency :selected').text()
            };
            createPostAsync(post,
                function(response) {
                    console.log("Close add post modal window");
                    $("#add-post__modal").modal('toggle');
                    console.log(`Redirect to URL: ${response.returnUrl}`);
                    window.location.replace(response.returnUrl);
                });
        });
        $("#add-post__close").off("click").click(function() {
            if (textEditor["add-post__text--editor"].isFullscreenActive()) {
                textEditor["add-post__text--editor"].toggleFullScreen();
            }
        });
    }

    function onVotePostClick(postId, voteType) {
        var votesCount = $(`#votes-count__${postId}`);
        var vote = {
            voteType: voteType,
            votesCount: votesCount.text()
        };
        createPostVoteIdAsync(postId,
            vote,
            function(response) {
                switch (response.voteType) {
                case 1:
                    {
                        console.log(`Votes count: ${response.votesCount}`)
                        $(`#vote-icon__${postId}`).toggleClass('zmdi-favorite').toggleClass('zmdi-favorite-outline');
                        votesCount.text(response.votesCount);
                    }
                    break;
                }
            }, function(jqXhr, textStatus, errorThrown) {
                alert("Unauthorized user");
            });
    }

    function onEditPostClick(postId) {
        getPostByIdAsync(postId,
            function(response) {
                $("#edit-post__title").val(response.title);
                $("#edit-post__price").val(response.price);
                $("#edit-post__location").val(response.location);
                $('#edit-post__currency').val(response.currency).trigger('change');
                textEditor["edit-post__text--editor"].value(turndown.turndown(response.text));
            });
        $("#edit-post__save").off("click").click(function() {
            var post = {
                text: textEditor["edit-post__text--editor"].options.previewRender(textEditor["edit-post__text--editor"].value()),
                title: $("#edit-post__title").val(),
                price: $("#edit-post__price").val(),
                location: $("#edit-post__location").val(),
                currency: $('#edit-post__currency :selected').text()
            };
            updatePostByIdAsync(postId,
                post,
                function(response) {
                    console.log("Close edit post modal window");
                    $("#edit-post__modal").modal('toggle');
                    $(`#post-title__${postId}`).html(post.title);
                    $(`#post-price__${postId}`).html(`${post.price}${post.currency}`);
                    $(`#post-location__${postId}`).text(post.location);
                    $(`#post-text__${postId}`).html(post.text);
                    console.log(
                        `MatchedCount: ${response.matchedCount} ModifiedCount: ${response.matchedCount
                        } IsAcknowledged: ${response.isAcknowledged} IsModifiedCountAvailable: ${response
                        .isModifiedCountAvailable}`);
                });
        });
        $("#edit-post__close").off("click").click(function() {
            if (textEditor["edit-post__text--editor"].isFullscreenActive()) {
                textEditor["edit-post__text--editor"].toggleFullScreen();
            }
        });
    }

    function onDeletePostClick(postId) {
        $("#delete-post__delete").off("click").click(function() {
            deletePostByIdAsync(postId,
                function(response) {
                    console.log("Close delete post modal window");
                    $("#delete-post__modal").modal('toggle');
                    console.log(`Redirect to URL: ${response.returnUrl}`);
                    window.location.replace(response.returnUrl);
                });
        });
    }

    function onEditPostTagsClick(postId) {
        var $input = $(`#edit-tags__input--${postId}`).tagify({
            maxTags: 5,
            whitelist: [
                { "id": 1, "value": "some string" }
            ],
        });

        var tagify = $input.data('tagify');

        getPostTagsByPostIdAsync(postId,
            function(response) {
                console.log(`Response tags: ${response.tags}`);
                tagify.addTags(response.tags);
            });

        $(`#edit-tags__save--${postId}`).off("click").click(function() {
            var tags = tagify.value;

            var postTags = {
                tags: tags.map(function(element) {
                    return element.value;
                })
            };

            console.log(`Tags: ${postTags.tags}`);

            createPostTagsByPostIdAsync(postId,
                postTags,
                function(response) {
                    console.log("Close edit tags modal window");
                    $(`#edit-tags__modal--${postId}`).modal('toggle');

                    var tagsElement = $(`#post-header__tags--${postId}`);

                    tagsElement.empty();

                    if (postTags.tags === null || postTags.tags.length == 0) {
                        tagsElement.append(`
                        <a href="" title="" data-placement="top" data-target="#edit-tags__modal--${postId
                            }" data-toggle="modal" onclick="onEditPostTagsClick('${postId}')">
                            <i class="zmdi zmdi-tag-more zmdi-hc-fw post-tag__icon"></i>Add tags
                        </a>
                        `);
                    } else {
                        tagsElement.append(`
                            <a href="" title="" data-placement="top" data-target="#edit-tags__modal--${postId
                            }" data-toggle="modal" onclick="onEditPostTagsClick('${postId}')">
                                <i class="zmdi zmdi-tag-more zmdi-hc-fw post-tag__icon"></i>
                            </a>
                        `);
                        var index = 0;
                        postTags.tags.forEach(function(tag) {
                            if (index++ == postTags.tags.length - 1) {
                                tagsElement
                                    .append(
                                        `<a class="post-tag__link" href="/Posts/GetPostsByTag?tagName=${tag}">${tag
                                        }</a>`);
                            } else {
                                tagsElement
                                    .append(
                                        `<a class="post-tag__link" href="/Posts/GetPostsByTag?tagName=${tag}">${tag
                                        }</a><span>, </span>`);
                            }
                        });
                    }

                    console.log("Clear tags on response");
                    tagify.removeAllTags();
                });
        });

        $(`#edit-tags__close--${postId}`).off("click").click(function() {
            console.log("Clear tags on close");
            tagify.removeAllTags();
        });

        $(`#edit-tags__cancel--${postId}`).off("click").click(function() {
            console.log("Clear tags on cancel");
            tagify.removeAllTags();
        });
    }
    
    function onUpdatePostItemAvailability(postId) {
        console.log(`Update post: ${postId} item availability`);     
        getPostByIdAsync(postId,
            function(post) {
                console.log(`Current sold state is: ${post.sold}`);
                post.sold = !post.sold;
                console.log(`Set current sold state as: ${post.sold}`);
                updatePostByIdAsync(postId,
                    post,
                    function(response) {
                        if (!post.sold) {
                            $(`#post-availability__${postId}`).text("Set as sold");                      
                        } else {
                            $(`#post-availability__${postId}`).text("Set as available");                      
                        }
                        console.log(
                            `MatchedCount: ${response.matchedCount} ModifiedCount: ${response.matchedCount
                            } IsAcknowledged: ${response.isAcknowledged} IsModifiedCountAvailable: ${response
                            .isModifiedCountAvailable}`);
                    });
            });
    }
    
    function onEditCommentClick(postId, commentId) {
        getPostCommentAsync(postId,
            commentId,
            function(response) {
                console.log(`Set comment text: ${response.text}`);
                textEditor["edit-comment__text--editor"].value(turndown.turndown(response.text));
            },
            function(jqXhr, textStatus, errorThrown) {
                alert("Error");
            });

        $(`#edit-comment__save`).off("click").click(function() {
            var postComment = {
                text: textEditor["edit-comment__text--editor"].options.previewRender(textEditor["edit-comment__text--editor"].value()),
            };
            updatePostCommentAsync(postId,
                commentId,
                postComment,
                function(response) {
                    console.log("Close edit post comment modal window");
                    $(`#edit-post__modal--${commentId}`).modal('toggle');                    
                    
                    console.log(
                        `MatchedCount: ${response.matchedCount} ModifiedCount: ${response.matchedCount
                        } IsAcknowledged: ${response.isAcknowledged} IsModifiedCountAvailable: ${response
                        .isModifiedCountAvailable}`);
                    
                    var comment = $(`#media-comment__${commentId}`);
                    comment.empty();
                    comment.append(postComment.text);
                });
            $("#edit-comment__modal").modal('toggle');
        });
        $("#edit-comment__close").off("click").click(function() {
            if (textEditor["edit-comment__text--editor"].isFullscreenActive())
                textEditor["edit-comment__text--editor"].toggleFullScreen();     
        });
    }

    function onReplyCommentClick(postId, replyTo, commentId) {
        removeReplyForm("reply-form");

        $(`#${commentId} #reply-placeholder:first`).append(
            `<div id="reply-form">   
                <textarea id="write-reply__editor" style="display: none"></textarea>    
                <div class="row mt-3">
                    <div class="col-12">   
                        <input type="button" class="btn btn-light waves-effect waves-light btn-sm mr-2" value="Cancel" onclick="removeReplyForm('reply-form')"/>     
                        <input id="add-comment__reply" type="button" class="btn btn-primary__advert waves-effect waves-light btn-sm" value="Reply"/>
                    </div>    
                </div>
            </div>`
        );

        var writeReplyEditor = new SimpleMDE({
            status: false,
            element: $("#write-reply__editor")[0],
            placeholder: "Write reply...",
            fullScreen: false,
            withPreview: false,
        });

        $(".CodeMirror, .CodeMirror-scroll").css('min-height', '150px');

        $("#add-comment__reply").off("click").click(function() {
            removeReplyForm("reply-form");
            var text = writeReplyEditor.options.previewRender(writeReplyEditor.value());
            var parentId = null;         
            if (replyTo !== null) {
                parentId = commentId;
            }          
            addCommentReply({
                text: text,
                postId: postId,
                replyTo: parentId
            });
            writeReplyEditor.toTextArea();
            writeReplyEditor = null;
        });
    }

    function onDeleteCommentClick(postId, commentId) {
        $("#delete-comment__delete").off("click").click(function() {
            deletePostCommentAsync(postId,
                commentId,
                function(response) {
                    console.log(`Matched count: ${response.matchedCount}`);
                    console.log(`Modified count: ${response.modifiedCount}`);
                    console.log(`Is acknowledged: ${response.isAcknowledged}`);
                    console.log(`Is modified count available: ${response.isModifiedCountAvailable}`);
                    $(`#${commentId}`).empty();
                });
            $("#delete-comment__modal").modal('toggle');
        });
    }

    function addCommentReply(comment) {
        createPostCommentAsync(comment,
            function(response) {
                $(`#${comment.replyTo} .media-body:first`).append(`
                <div id="${response.commentId}" class="media p-2">
                    <img class="card-user__img" src="${response.profileImagePath}" width="48" height="48" alt="profile-image">
                    <div class="media-body media__img content__break">
                        <div class="col-auto">
                            <span class="font-weight-bold" style="font-size: 0.9rem">
                                <a href="/${response.profileName}">${response.profileName}</a>
                            </span>
                            <span class="time" style="font-size: 0.9rem"> ${response.createdAt}</span>  
                        </div>                        
                        <div class="col-auto media__border">
                            <div id="media-comment__${response.commentId}" class="media__comment">
                                ${response.text}
                            </div>             
                        </div>
                        <div class="col-auto">
                            <div class="row">
                                <div class="col-md-12 p-1">
                                    <div class="r-btn r-btn-light r-btn--icon waves-effect ml-4" onclick="onPostCommentVoteClick('${response.postId}', '${response.commentId}', 1)" >
                                        <i id="vote-icon__${response.commentId}" class="zmdi zmdi-favorite-outline zmdi-hc-fw"></i>
                                    </div>
                                    <small id='votes-count__${response.commentId}'>${response.votesCount}</small>
                                    <span class="dot-separator"></span>
                                    <a href="#reply" onclick="onReplyCommentClick('${comment.postId}', '${comment.replyTo}', '${response.commentId}')" style="font-size: 0.9rem">
                                        Reply
                                    </a>
                                    <span class="dot-separator"></span>
                                    <div class="dropdown comments__item">
                                        <i data-toggle="dropdown" class="zmdi zmdi-chevron-down zmdi-hc-fw" aria-expanded="false"></i>
                                        <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(30px, 26px, 0px);">
                                            <a href="" class="dropdown-item" data-placement="top" data-target="#edit-comment__modal" data-toggle="modal" onclick="onEditCommentClick('${response.postId}', '${response.commentId}')">
                                                <i class="zmdi zmdi-edit zmdi-hc-fw"></i> Edit...
                                            </a> 
                                            <a href="" class="dropdown-item" data-placement="top" data-target="#delete-comment__modal" data-toggle="modal" onclick="onDeleteCommentClick('${response.postId}', '${response.commentId}')">
                                                <i class="zmdi zmdi-delete zmdi-hc-fw"></i> Delete...
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="reply-placeholder"></div>
                    </div>
                </div>
                `);

//                $([document.documentElement, document.body]).animate({
//                        scrollTop: $(`#media-comment__${response.commentId}`).offset().top - 250
//                    },
//                    200);
            });
    }

    function removeReplyForm(commentId) {
        var form = $(`#${commentId}`);
        if (form.length !== 0) {
            form.remove();
        }
    }

    function onPostCommentVoteClick(postId, commentId, voteType) {
        var votesCount = $(`#votes-count__${commentId}`);
        var vote = {
            voteType: voteType,
            votesCount: votesCount.text()
        }
        createPostCommentVoteAsync(postId,
            commentId,
            vote,
            function(response) {
                switch (response.voteType) {
                case 1:
                    {
                        console.log(`Post id: ${postId} votes count: ${response.votesCount}`)
                        var voteIcon = $(`#vote-icon__${commentId}`);
                        voteIcon.toggleClass('zmdi-favorite');
                        voteIcon.toggleClass('zmdi-favorite-outline');
                        votesCount.text(response.votesCount);
                    }
                    break;
                }
            });
    }

    $(document).ready(function() {
        var body = $('body');
      
        body.on('focus',
            '.search__text',
            function() {
                $(this).closest('.search').addClass('search--focus');
            });
        
        $("#add-post__text--editor, #edit-post__text--editor, #add-comment__text--editor, #edit-comment__text--editor").each(function(index, element) {
            console.log(`Text editor element id: ${element.id}`);
           
            textEditor[element.id] = new SimpleMDE({
                status: false,
                element: element,
                placeholder: "Write something...",
                fullScreen: false,
                withPreview: false,
                spellChecker: false
            });

            //Fix for empty editors until it has no focus
            $('#add-post__modal').on('shown.bs.modal',
                function() {
                    console.log("Add post shown.bs.modal");
                    textEditor["add-post__text--editor"].codemirror.refresh();
                });

            $('#edit-post__modal').on('shown.bs.modal',
                function() {
                    console.log("Edit post shown.bs.modal");
                    textEditor["edit-post__text--editor"].codemirror.refresh();
                });
            
            $("#edit-comment__modal").on('shown.bs.modal',
                function() {
                    console.log("Edit comment shown.bs.modal");
                    textEditor["edit-comment__text--editor"].codemirror.refresh();
                });
        
            //Fix for side by side & fullscreen
            textEditor[element.id].codemirror.on('refresh',
                function() {
                    if (textEditor[element.id].isFullscreenActive()) {
                        $('body').addClass('simplemde-fullscreen');
                    } else {
                        $('body').removeClass('simplemde-fullscreen');
                    }
                });
        });  

        body.on('blur',
            '.search__text',
            function() {
                $(this).val('');
                $(this).closest('.search').removeClass('search--focus');
            });

        body.on('click',
            '[data-ma-action]',
            function(e) {
                e.preventDefault();
                var $this = $(this);
                var action = $this.data('ma-action');
                switch (action) {
                case 'search-open':
                    $('.search').addClass('search--toggled');
                    break;
                case 'search-close':
                    $('.search').removeClass('search--toggled');
                    break;
                }
            });
        
        $(".search").submit(function(event) {
            event.preventDefault();
            window.location.replace(window.location.href + "?page=1&keyword=" + $(".search__text").val());
        });

        $("#add-post__modal").modal({
            show: false
        }).on("shown",
            function() {
                console.log("Shown");
            });
        
        $("#sign-out__dropdown").click(function(e) {
            e.preventDefault();
            $.ajax({
                url: "/Account/SignOut?returnUrl=/",
                type: "GET",
                contentType: "application/json",
                error: function(jqXhr, textStatus, errorThrown) {
                    console.log("jqXhr: " + jqXhr);
                    console.log("textStatus: " + textStatus);
                    console.log("errorThrown: " + errorThrown);
                },
                success: function(response) {
                    window.location.replace(response.returnUrl);
                }
            });
            return false;
        });

        $("#add-comment").click(function() {
            var postId = $("section").attr('id');
            var text = textEditor["add-comment__text--editor"].options.previewRender(textEditor["add-comment__text--editor"].value());
            var comment = {
                postId: postId,
                text: text
            }
            createPostCommentAsync(comment,
                function(response) {
                    $("#post-comments").prepend(`
                <div id="${response.commentId}" class="media p-2">
                    <img class="card-user__img" src="${response.profileImagePath
                        }" width="48" height="48" alt="profile-image">
                    <div class="media-body media__img content__break">
                        <div class="col-auto">
                            <span class="font-weight-bold" style="font-size: 0.9rem">
                                <a href="/${response.profileName}">${response.profileName}</a>
                            </span>
                            <span class="time"> ${response.createdAt}</span>         
                        </div>                        
                        <div class="col-auto media__border">
                            <div id="media-comment__${response.commentId}" class="media__comment">
                                ${response.text}
                            </div>   
                        </div>
                        <div class="col-auto">
                            <div class="row">
                                <div class="col-md-12 p-1">
                                    <div class="r-btn r-btn-light r-btn--icon waves-effect ml-4" onclick="onPostCommentVoteClick('${
                        response.postId}', '${response.commentId}', 1)" >
                                        <i id="vote-icon__${response.commentId
                        }" class="zmdi zmdi-favorite-outline zmdi-hc-fw"></i>
                                    </div>
                                    <small id='votes-count__${response.commentId}'>${response.votesCount}</small>
                                    <span class="dot-separator"></span>
                                    <a href="#reply" onclick="onReplyCommentClick('${response.postId}', '${
                        response.replyTo}', '${response.commentId}')" style="font-size: 0.9rem">
                                        Reply
                                    </a>
                                    <span class="dot-separator"></span>
                                    <div class="dropdown comments__item">
                                        <i data-toggle="dropdown" class="zmdi zmdi-chevron-down zmdi-hc-fw" aria-expanded="false"></i>
                                        <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(30px, 26px, 0px);">
                                            <a href="" class="dropdown-item" data-placement="top" data-target="#edit-comment__modal" data-toggle="modal" onclick="onEditCommentClick('${response.postId}', '${response.commentId}')">
                                                <i class="zmdi zmdi-edit zmdi-hc-fw"></i> Edit...
                                            </a> 
                                            <a href="" class="dropdown-item" data-placement="top" data-target="#delete-comment__modal" data-toggle="modal" onclick="onDeleteCommentClick('${response.postId}', '${response.commentId}')">
                                                <i class="zmdi zmdi-delete zmdi-hc-fw"></i> Delete...
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>                          
                        </div>
                        <div id="reply-placeholder"></div>
                    </div>
                </div>`);

//                    $([document.documentElement, document.body]).animate({
//                            scrollTop: $(`#media-comment__${response.commentId}`).offset().top - 250
//                        },
//                        200);
                });
            textEditor["add-comment__text--editor"].value("");
        });

        $("#add-post__currency").select2({
            tags: ["€", "$", "MDL"],
            width: "100%",
            height: "34px",
            minimumResultsForSearch: -1,
        });

        $("#edit-post__currency").select2({
            tags: ["€", "$", "MDL"],
            width: "100%",
            height: "34px",
            minimumResultsForSearch: -1,
        });

        $(".CodeMirror, .CodeMirror-scroll").css('min-height', '150px');  
    });

    $(window).on('load',
        function() {
            $('#body').fadeIn(200);
        });
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=@Model.PlacesApi&libraries=places&callback=initMap" async defer></script>
