<div id="add-post__modal" class="modal fade" data-backdrop="static" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <span class="font-weight-bold">Add post</span>
                <button id="add-post__close" type="button" class="btn btn-link" data-dismiss="modal">
                    <span>
                        <i class="zmdi zmdi-close zmdi-hc-fw"></i>
                    </span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input id="add-post__title" type="text" class="form-control" maxlength="100" placeholder="What are you selling?" autocomplete="off">
                    <i class="form-group__bar"></i>
                </div>
                
                <div class="form-group">
                    <input id="add-post__location" type="text" class="form-control" placeholder="Enter a location (optional)">
                    <i class="form-group__bar"></i>
                </div>
                
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input id="add-post__price" type="number" class="form-control" placeholder="Price" autocomplete="off">
                            <i class="form-group__bar"></i>
                        </div>     
                    </div>
                    <div class="col-md-6">
                        <select id="add-post__currency">
                        </select>
                    </div>
                </div>
                
                <div class="mt-4">
                    <textarea class="post-editor" style="display: none"></textarea>
                </div>

                <div class="form-group">
                    <div id="dropzone">
                        <form asp-controller="Posts" asp-action="AddPostPhotos" class="dropzone needsclick dz-clickable" id="demo-upload">
                            <div class="dz-message needsclick">
                                <img src="~/images/add-photos.png"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="add-post__post" type="button" class="btn btn-primary__advert">
                    Post
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    $("#add-post__currency").select2({
        tags: ["€", "$", "MDL"],
        width: "100%",
        height: "34px",
        minimumResultsForSearch: -1,
    });
</script>