<div id="delete-post__modal" class="modal fade" data-backdrop="static" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <span class="font-weight-bold">Delete post</span>
                <button id="delete-post__close" type="button" class="btn btn-link" data-dismiss="modal">
                    <span>
                        <i class="zmdi zmdi-close zmdi-hc-fw"></i>
                    </span>
                </button>
            </div>
            <div class="modal-body">
                You are about to delete this post.
            </div>
            <div class="modal-footer">
                <button id="delete-post__cancel" type="button" class="btn btn-light" data-dismiss="modal">
                    Cancel
                </button>
                <button id="delete-post__delete" type="button" class="btn btn-primary">
                    Delete
                </button>
            </div>
        </div>
    </div>
</div>