@using Advert.Models.Post
@model PostViewModel

<div id="edit-tags__modal--@Model.PostId" class="modal fade" data-backdrop="static" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <span class="font-weight-bold">Edit tags for this post</span>
                <button id="edit-tags__close--@Model.PostId" type="button" class="btn btn-link" data-dismiss="modal">
                    <span>
                        <i class="zmdi zmdi-close zmdi-hc-fw"></i>
                    </span>
                </button>
            </div>
            <div class="modal-body">
                <input id="edit-tags__input--@Model.PostId" placeholder='Add tags'>
            </div>
            <div class="modal-footer">
                <button id="edit-tags__cancel--@Model.PostId"  type="button" class="btn btn-light" data-dismiss="modal">
                    Cancel
                </button>
                <button id="edit-tags__save--@Model.PostId" type="button" class="btn btn-primary__advert">
                    Save
                </button>
            </div>
        </div>
    </div>
</div>