<div id="edit-post__modal" class="modal fade" data-backdrop="static" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <span class="font-weight-bold">Edit post</span>
                <button id="edit-post__close" type="button" class="btn btn-link" data-dismiss="modal">
                    <span>
                        <i class="zmdi zmdi-close zmdi-hc-fw"></i>
                    </span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="font-weight-bold">Title</label>
                    <input id="edit-post__title" type="text" class="form-control" maxlength="100" placeholder="What are you selling?" autocomplete="off">
                    <i class="form-group__bar"></i>
                </div>

                <div class="form-group">
                    <label class="font-weight-bold">Location</label>
                    <input id="edit__post--location" type="text" class="form-control" placeholder="Enter a location">
                    <i class="form-group__bar"></i>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="font-weight-bold">Price</label>
                            <input id="edit-post__price" type="number" class="form-control" placeholder="Price" autocomplete="off">
                            <i class="form-group__bar"></i>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="font-weight-bold">Currency</label>
                            <select id="edit__post--currency" class="form-control select2-pt">
                                <option selected="selected">€</option>
                                <option>$</option>
                                <option>MDL</option>
                            </select>
                            <i class="form-group__bar"></i>
                        </div>
                    </div>
                </div>

                <div class="mt-4">
                    <label class="font-weight-bold">Description</label>
                    <textarea id="edit-post__text--editor" style="display: none"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button id="edit-post__save" type="button" class="btn btn-primary">
                    Save changes
                </button>
            </div>
        </div>
    </div>
</div>