<div id="log-in__modal" class="modal fade" data-backdrop="static" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <span class="font-weight-bold">Log in with your Advert account</span>
                <button id="add-post__close" type="button" class="btn btn-link" data-dismiss="modal">
                    <span>
                        <i class="zmdi zmdi-close zmdi-hc-fw"></i>
                    </span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input id="log-in__email" type="email" class="form-control is-valid" placeholder="Email" required="">
                    @* <i class="form-group__feedback zmdi zmdi-check-circle"></i> *@
                    @* <i class="form-group__bar"></i> *@
                </div>
                <div class="form-group">
                    <input id="log-in__password" type="password" class="form-control is-valid" placeholder="Password" required="">
                    @* <i class="form-group__feedback zmdi zmdi-check-circle"></i> *@
                    @* <i class="form-group__bar"></i> *@
                </div>
                <div id="log-in__alert" class="alert alert-danger" role="alert" style="display: none">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary__advert" onclick="onLogInClick()">
                    Log in
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    function onLogInClick() {
        var model = {
            email: $("#log-in__email").val(),
            password: $("#log-in__password").val()
        };
        
        var token = $("input[name=__RequestVerificationToken]").val();
        
        var headers = {};

        if (token) {
            headers["RequestVerificationToken"] = token;
        }
        
        logInByEmailAsync(model,
            headers,
            function(response) {
                if (response.errors != null && response.errors.length > 0) {
                    $("#log-in__alert").show().text(response.errors.map(function(element) {
                        return element.description;
                    }).join(","));
                } else {
                    console.log("Close log in modal")
                    $("#log-in__modal").modal('toggle');
                    console.log(`Redirect to URL: ${response.returnUrl}`);
                    window.location.replace(response.returnUrl);
                }
            });
    }
</script>