@using Advert.Models.Post
@model PostViewModel

<p>
    @if (Model.Price > 0)
    {
        <span style="font-size: 0.9rem; color: #71a830">@Model.Price@Model.Currency</span>
    }
    else
    {
        <span style="font-size: 0.9rem; color: #71a830">FREE</span>
    }
</p>

@if (Model.Location != null)
{
    <p>
        <i class="zmdi zmdi-pin zmdi-hc-fw"></i>
        <span id="post-location__@Model.PostId" style="font-size: 0.9rem; color: #90949c">@Model.Location</span>
    </p>    
}

<div id="post-content__@Model.PostId">
    @Html.Raw(Model.Text) 
</div>