<div id="sign-up__modal" class="modal fade" data-backdrop="static" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <span class="font-weight-bold">Create your Advert account</span>
                <button id="sign-up__close" type="button" class="btn btn-link" data-dismiss="modal">
                    <span>
                        <i class="zmdi zmdi-close zmdi-hc-fw"></i>
                    </span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input id="sign-up__name" type="text" class="form-control" placeholder="Name" required="">
                    @* <div id="invalid-feedback__name" class="invalid-feedback" style="display: none"></div> *@
                    @* <i class="form-group__feedback zmdi zmdi-check-circle"></i> *@
                    <i class="form-group__bar"></i>
                </div>
                <div class="form-group">
                    <input id="sign-up__email" type="email" class="form-control" placeholder="Email" required="">
                    @* <div id="invalid-feedback__email" class="invalid-feedback" style="display: none"></div> *@
                    @* <i class="form-group__feedback zmdi zmdi-check-circle"></i> *@
                    <i class="form-group__bar"></i>
                </div>
                <div class="form-group">
                    <input id="sign-up__password" type="password" class="form-control" placeholder="Password" required="">
                    @* <div id="invalid-feedback__password" class="invalid-feedback" style="display: none"></div> *@
                    @* <i class="form-group__feedback zmdi zmdi-check-circle"></i> *@
                    <i class="form-group__bar"></i>
                </div>
                <div id="sign-up__alert" class="alert alert-danger" role="alert" style="display: none">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary__advert" onclick="onSignUpClick()">
                    Sign up
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    function onSignUpClick() {
        var model = {
            name: $("#sign-up__name").val(),
            email: $("#sign-up__email").val(),
            password: $("#sign-up__password").val(),
            culture: navigator.language
        };

        var token = $("input[name=__RequestVerificationToken]").val();
        
        var headers = {};

        if (token) {
            headers["RequestVerificationToken"] = token;
        }

        createNewAccountAsync(model,
            headers,
            function(response) {
                if (response.errors != null && response.errors.length > 0) {
                    $("#sign-up__alert").show().text(response.errors.map(function(element) {
                        return element.description;
                    }).join(","));
                } else {
                    console.log("Close sign up modal")
                    $("#sign-up__modal").modal('toggle');
                    console.log(`Redirect to URL: ${response.returnUrl}`);
                    window.location.replace(response.returnUrl);
                }
            });
    }
</script>