@using Advert.Models.Post
@model PostsAggregatorViewModel

@await Html.PartialAsync("_Header", Model.Profile)

<section class="content">
    <div class="row">
        @if (Model.Profile == null)
        {
            <div class="col-md-3 p-1">
                @await Html.PartialAsync("SignUpOrLoginPartial", Model.Profile)
            </div>
        }
        else
        {
            <div class="col-md-3 p-1">
                <div class="card team__item">
                    @await Html.PartialAsync("ProfilePartial", Model.Profile)
                </div>
            </div>
        }
        <div class="col-md-6 p-1">
            @{
                <div class="card">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link" href="/@Model.Profile.Name/Posts">Posts</a>
                        </li>      
                        @if (Model.IsProfileOwner)
                        {
                            <li class="nav-item">
                                <a class="nav-link active" href="/@Model.Profile.Name/Hidden">Hidden</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/@Model.Profile.Name/Favorites">Favorites</a>
                            </li>
                        }
                    </ul>
                    @await Html.PartialAsync("PostsPartial", Model.Posts)
                </div>
            }
        </div>
        <div class="col-md-3 p-1">
        </div>
    </div>
</section>