@Html.Partial("Header")

<section class="content">
    <div class="card">
        <form method="post" enctype="multipart/form-data" asp-controller="Profiles" asp-action="UploadImage">
            <div class="form-group">
                <div class="col-md-10">
                    <p>Upload one or more files using this form:</p>
                    <input type="file" name="files"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" value="Upload" />
                </div>
            </div>
        </form>
        
        <div class="modal fade" id="modal-default" tabindex="-1" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-dialog-default">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title pull-left">Default modal</h5>
                    </div>
                    <div class="modal-body">
                        Curabitur blandit mollis lacus. Nulla sit amet est. Suspendisse nisl elit, rhoncus eget, elementum ac, condimentum eget, diam. Donec mi odio, faucibus at, scelerisque quis, convallis in, nisi. Cras sagittis.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-link">Save changes</button>
                        <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        
        <button class="btn btn-light" data-toggle="modal" data-target="#modal-default">Default modal</button>
    </div>
</section>
