@model List<Egghead.MongoDbStorage.Entities.MongoDbArticle>

@if (Model.Any())
{
     foreach (var article in Model)
     {
         <article class="timeline-item">
             <div class="timeline-desk">
                 <div class="panel">
                     <div class="panel-body">
                         <span class="arrow"></span>
                         <span class="timeline-icon"></span>
                         <h4 class="text-purple">@article.Title</h4>
                         <p class="timeline-date text-muted">
                             <small>@article.CreatedAt</small>
                         </p>
                         <p>@article.Text</p>
                     </div>
                 </div>
             </div>
         </article>
     }
}