@model Egghead.Models.Articles.ArticleModel

@Html.Partial("ArticlesPreviewNavigationPartial")

<div id="article" class="container-fluid">
    <article>
        <div class="card m-b-20">
            <small class="text-muted m-l-10 m-t-10">Created by <ins>Chicu Victor</ins> today at 17:15</small>

            @Html.Partial("ArticleContentPartial")

            <div style="border-bottom: 1px solid #e3e3e3; padding-left: 20px; padding-bottom: 20px">
                <h4 id="comments-count">
                </h4>
            </div>

            <div id="comment-section" class="p-4">

            </div>

            <div id="article-comments" class="container" class="pl-4 pr-4">
                @* @Html.Partial("ArticleCommentsPartial") *@

                <div class="media p-3">
                    <img src="/images/64x64.svg" width="48" height="48" alt="Generic placeholder image">
                    <div class="media-body">
                        <div class="col-6">
                            <h6 class="mt-0">Media heading</h6>
                        </div>
                        <div class="col-auto">
                            <h6>
                                Что такое Lorem Ipsum?
                                Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.
                            </h6>
                        </div>
                        <div class="col-sm-12">
                            <a href="#reply">Reply</a> <span>(78)</span>
                            <div name="btn-like" class="r-btn r-btn-light r-btn--icon">
                                <i class="fa fa-thumbs-o-up"></i>
                            </div>
                            <div name="btn-dislike" class="r-btn r-btn-light r-btn--icon">
                                <i class="fa fa-thumbs-o-down"></i>
                            </div>
                        </div>

                        
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>

<script>
    function showReplyForm(commentId) {
        removeReplyForm("reply-form");

        $(`#${commentId}`).append(
            `<div id="reply-form">   
                <textarea id="reply-editor" style="display: none"></textarea>    
                <div class="row mt-3">
                    <div class="col-12">            
                        <input id="submit-reply" type="button" class="btn btn-light waves-effect waves-light btn-sm" value="Reply"/>
                        <input type="button" class="btn btn-light waves-effect waves-light btn-sm mr-2" value="Cancel" onclick="removeReplyForm('comment-form')"/>
                    </div>    
                </div>
            </div>`
        );

        var editor = new SimpleMDE({
            status: false,
            element: $("#reply-editor")[0],
            placeholder: "Type here...",
            fullScreen: false,
            withPreview: false
        });

        $(".CodeMirror, .CodeMirror-scroll").css('min-height', '150px');

        $.urlParam = function(name, url) {
            if (!url) {
                url = window.location.href;
            }
            var results = new RegExp('[\\?&]' + name + '=([^&#]*)').exec(url);
            if (!results) {
                return undefined;
            }
            return results[1] || undefined;
        }

        $("#submit-reply").click(function() {
            var text = editor.options.previewRender(editor.value());
            createArticleCommentReplyAsync($.urlParam('articleId'),
                {
                    text: text,
                    replyTo: commentId
                });
        });
    }

    function removeReplyForm(commentId) {
        var form = $(`#${commentId}`);
        if (form.length !== 0) {
            form.remove();
        }
    }

    function showCommentForm() {
        removeCommentForm();

        $("#comment-section").append(
            `<div id="comment-form">   
                <textarea id="comment-editor" style="display: none"></textarea>    
                <div class="row mt-3">
                    <div class="col-12">            
                        <input id="publish-comment" type="button" class="btn btn-light waves-effect waves-light btn-sm mr-2" value="Publish a comment"/>
                    </div>    
                </div>
            </div>`
        );

        var editor = new SimpleMDE({
            status: false,
            element: $("#comment-editor")[0],
            placeholder: "Type here...",
            fullScreen: false,
            withPreview: false
        });

        $(".CodeMirror, .CodeMirror-scroll").css('min-height', '150px');

        var articleId = $.urlParam('articleId');

        $("#publish-comment").click(function() {
            var text = editor.options.previewRender(editor.value());
            createArticleCommentAsync(articleId,
                {
                    text: text
                });
        });
    }

    function removeCommentForm() {
        var form = $("#comment-form");
        if (form.length !== 0) {
            form.remove();
        }
    }

    function setArticleViewCountAsync(articleId) {
        $.ajax({
            url: "/Articles/SetArticleViewCount?articleId=" + articleId,
            type: "GET",
            contentType: "application/json",
            error: function(jqXhr, textStatus, errorThrown) {
                console.log("jqXhr: " + jqXhr);
                console.log("textStatus: " + jqXhr);
                console.log("errorThrown: " + jqXhr);
            },
            success: function(response) {
                console.log("Article view count: " + response);
            }
        });
    }

    function createArticleCommentAsync(articleId, comment) {
        $.ajax({
            url: `/Articles/CreateArticleComment?articleId=${articleId}`,
            type: "POST",
            data: JSON.stringify(comment),
            contentType: "application/json",
            error: function(jqXhr, textStatus, errorThrown) {
                console.log("jqXhr: " + jqXhr);
                console.log("textStatus: " + jqXhr);
                console.log("errorThrown: " + jqXhr);
            },
            success: function(response) {
                $("#article-comments").prepend(
                    `<div class="media p-2">
                        <img class="mr-3" src="/images/64x64.svg" width="64" height="64" alt="Generic placeholder image">
                        <div class="media-body">                           
                            ${response.text}         
                            <div id="${response.id}">
                                <p class="reply-link"><a href="#reply" onclick="showReplyCommentForm('${response.id
                    }')">Reply</a></p>                
                            </div>
                        </div>
                    </div>`
                );
                countArticleCommentsByArticleIdAsync(articleId);
            }
        });
    }

    function createArticleCommentReplyAsync(articleId, comment) {
        $.ajax({
            url: `/Articles/CreateArticleComment?articleId=${articleId}`,
            type: "POST",
            data: JSON.stringify(comment),
            contentType: "application/json",
            error: function(jqXhr, textStatus, errorThrown) {
                console.log("jqXhr: " + jqXhr);
                console.log("textStatus: " + jqXhr);
                console.log("errorThrown: " + jqXhr);
            },
            success: function(response) {
                $(`#${comment.id}`).prepend(
                    `<div class="media p-2">
                        <img class="mr-3" src="/images/64x64.svg" width="64" height="64" alt="Generic placeholder image">
                        <div class="media-body">                           
                            ${response.text}         
                            <div id="${response.id}">
                                <p class="reply-link"><a href="#reply" onclick="showReplyCommentForm('${response.id
                    }')">Reply</a></p>                
                            </div>
                        </div>
                    </div>`
                );
                countArticleCommentsByArticleIdAsync(articleId);
            }
        });
    }

    function findArticleCommentsByArticleIdAync(articleId) {
        $.ajax({
            url: `/Articles/FindArticleCommentsByArticleId?articleId=${articleId}`,
            type: "GET",
            contentType: "application/json",
            error: function(jqXhr, textStatus, errorThrown) {
                console.log("jqXhr: " + jqXhr);
                console.log("textStatus: " + jqXhr);
                console.log("errorThrown: " + jqXhr);
            },
            success: function(response) {
                $("#article-comments").html(response);
            }
        });
    }

    function countArticleCommentsByArticleIdAsync(articleId) {
        $.ajax({
            url: `/Articles/CountArticleCommentsByArticleId?articleId=${articleId}`,
            type: "GET",
            contentType: "application/json",
            error: function(jqXhr, textStatus, errorThrown) {
                console.log("jqXhr: " + jqXhr);
                console.log("textStatus: " + jqXhr);
                console.log("errorThrown: " + jqXhr);
            },
            success: function(response) {
                $("#comments-count").html(`Comments (${response})`);
            }
        });
    }

    $(document).ready(function() {
        $.urlParam = function(name, url) {
            if (!url) {
                url = window.location.href;
            }
            var results = new RegExp('[\\?&]' + name + '=([^&#]*)').exec(url);
            if (!results) {
                return undefined;
            }
            return results[1] || undefined;
        }

        var articleId = $.urlParam('articleId');

        showCommentForm();
//        setArticleViewCountAsync(articleId);
//        findArticleCommentsByArticleIdAync(articleId);
//        countArticleCommentsByArticleIdAsync(articleId);      
    });
</script>