@model Egghead.Models.Articles.ArticleModel

@Html.Partial("ArticlesPreviewNavigationPartial")

<div id="article" class="container-fluid">
  <article>
    <div class="card m-b-20">
      <small class="text-muted m-l-10 m-t-10">Created by <ins>Chicu Victor</ins> today at 17:15</small>
      @Html.Partial("ArticleContentPartial")
    </div>
  </article>
</div>

<button id="scroll-up" onclick="scrollUp()" style="display:none">
    <i class="fa fa-2x fa-angle-double-up"></i>
</button>

<button id="scroll-down" onclick="scrollDown()" style="display:none">
    <i class="fa fa-2x fa-angle-double-down"></i>
</button>


<script>
    function scrollUp() {
        document.documentElement.scrollTop = 0;
    }
    
    function scrollDown() {
        if (document.documentElement.scrollHeight > document.documentElement.scrollTop) {
            document.documentElement.scrollTop = document.documentElement.scrollHeight;
        }
    }

    $(document).ready(function() {
        onScroll();
        
        window.onscroll = function() { onScroll() };

        function onScroll() {                              
            var max = (document.documentElement.scrollHeight - document.documentElement.clientHeight);
                
            if (max > 0 && document.documentElement.scrollTop >= max) {
                document.getElementById("scroll-up").style.display = "block";
                document.getElementById("scroll-down").style.display = "none";
            } else {
                if (document.documentElement.scrollTop >= 0) {
                    document.getElementById("scroll-down").style.display = "block";
                }
            }
        }

        $.urlParam = function(name, url) {
            if (!url) {
                url = window.location.href;
            }
            var results = new RegExp('[\\?&]' + name + '=([^&#]*)').exec(url);
            if (!results) {
                return undefined;
            }
            return results[1] || undefined;
        }

        var articleId = $.urlParam('articleId');

        $.ajax({
            url: "/Articles/SetArticleViewCount?articleId=" + articleId,
            type: "GET",
            contentType: "application/json",
            error: function(jqXhr, textStatus, errorThrown) {
                console.log("jqXhr: " + jqXhr);
                console.log("textStatus: " + jqXhr);
                console.log("errorThrown: " + jqXhr);
            },
            success: function(response) {
                console.log("Article view count: " + response);
            }
        });
    });
</script>