@Html.Partial("ArticlesPreviewNavigationPartial")

<div id="articles-preview" class="container-oblate">
</div>

<script>
    function articlesPreviewPartial() {
        $.ajax({
            url: "/Articles/ArticlesPreviewPartial",
            type: "GET",
            contentType: "application/json",
            error: function(jqXhr, textStatus, errorThrown) {
                console.log("jqXhr: " + jqXhr);
                console.log("textStatus: " + jqXhr);
                console.log("errorThrown: " + jqXhr);
            },
            success: function(response) {
                $("#articles-preview").html(response);
            }
        });
    }

    $(document).ready(function() {
        $("#publish-article").click(function(e) {
            e.preventDefault();
            window.location.href = "/Articles/ArticlePublication";
            return false;
        });

        articlesPreviewPartial();
    });
</script>
