

<header id="topnav">
    <div class="topbar-main">
        <div class="container-fluid">
            <div class="logo">
                <a href="/" class="logo">
                    <span class="logo-large"><i class="mdi mdi-android-head"></i> EGGHEAD</span>
                </a>
            </div>
            <div id="article-profile">
                <div class="menu-extras topbar-custom">
                    <ul class="list-inline float-right mb-0">
                        <li class="list-inline-item">
                            <button id="publish-article" class="btn btn-light waves-effect waves-light btn-sm">Publish an article</button>
                        </li>
                        @Html.Partial("ArticleProfilePartial")
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container-fluid">
    <textarea id="article-editor" style="display: none;"></textarea>
</div>


<script>
    $(document).ready(function() {
        var simplemde = new SimpleMDE({
            status: false,
            element: $("#article-editor")[0],
            placeholder: "Type here...",
            fullScreen: true,
            withPreview: true
        });
        
        $("#editor-link").click(function() {
            //$("#preview").clear();
        });

        $("#preview-link").click(function() {
            //$("#preview").html($('#summernote').summernote('code'));
        });
    });
</script>