@* @{ ViewData["Title"] = "Home Page"; } *@

<header id="topnav">
    <div class="topbar-main">
        <div class="container-fluid">
            <div class="logo">
                <a href="/" class="logo">
                    <span class="logo-large"><i class="mdi mdi-android-head"></i> EGGHEAD</span>
                </a>
            </div>
            <div id="profile">
                @Html.Partial("ArticleProfilePartial")
            </div>         
        </div>
    </div>
</header>

<div id="articles-preview" class="container-fluid">
    @* @Html.Partial("ArticlesPreviewPartial") *@
</div>

<script>
    $(document).ready(function() {
        function signOut(returnUrl) {
            $.ajax({
                url: "/Account/SignOut?returnUrl=" + returnUrl,
                type: "GET",
                contentType: "application/json",
                error: function(jqXhr, textStatus, errorThrown) {
                    console.log("jqXhr: " + jqXhr);
                    console.log("textStatus: " + jqXhr);
                    console.log("errorThrown: " + jqXhr);
                },
                success: function(response) {
                    window.location.href = response.redirectUrl;
                }
            });
        }

        function getArticles() {
            $.ajax({
                url: "/Articles/GetArticles",
                type: "GET",
                contentType: "application/json",
                error: function(jqXhr, textStatus, errorThrown) {
                    console.log("jqXhr: " + jqXhr);
                    console.log("textStatus: " + jqXhr);
                    console.log("errorThrown: " + jqXhr);
                },
                success: function(response) {
                    $("#articles-preview").prepend(response);
                }
            });
        }

        function createArticle(article) {
            $.ajax({
                url: "/Articles/CreateArticle",
                type: "POST",
                data: article,
                contentType: "application/json",
                error: function(jqXhr, textStatus, errorThrown) {
                    console.log("jqXhr: " + jqXhr);
                    console.log("textStatus: " + jqXhr);
                    console.log("errorThrown: " + jqXhr);
                },
                success: function(response) {
                    $(".container-fluid").prepend(response);
                }
            });

        }

        function deleteArticles() {
            $.ajax({
                url: "/Articles/DeleteArticleById?articleId=test",
                type: "DELETE",
                contentType: "application/json",
                error: function(jqXhr, textStatus, errorThrown) {
                    console.log("jqXhr: " + jqXhr);
                    console.log("textStatus: " + jqXhr);
                    console.log("errorThrown: " + jqXhr);
                },
                success: function(response) {
                    $(".container-fluid").empty();
                }
            });
        }
        
        $("#sign-out").click(function(e) {
            e.preventDefault();
            signOut(window.location.pathname);
            return false;
        });
       
        $("#get-articles").click(function(e) {
            e.preventDefault();
            getArticles();
            return false;
        });

        $("#create-article").click(function(e) {
            e.preventDefault();
            var article = JSON.stringify({
                title: "Ловушка, в которую загнали себя инженеры Apple с клавиатурой MacBook Pro",
                text:
                    "Новый ноутбук получил всеобщее одобрение от технофилов, за одним заметным исключением: наша группа в компании iFixit. В отличие от остальных технических СМИ, мы не судим о продуктах по их удобству использования или эстетике. Мы концентрируемся на том, что произойдёт, когда устройство (неизбежно) выйдет из строя. Сколько времени (и поэтому средств) требует его вскрытие? Можно ли заменить по отдельности сломанные компоненты, или придётся менять более дорогие большие модули? Наша оценка даёт потребителю обоснованно предположить стоимость ремонта, прежде чем он покупает продукт. В наших глазах новый дизайн был провалом по ремонтопригодности. Мы понизили рейтинг Apple с семи по десятибалльной шкале до двух. Последующее обновление 2013 года отправило линейку MacBook в свободное падение с оценкой 1/10: самая низкая оценка для ноутбуков в истории. С тех пор она не повысилась."
            });
            createArticle(article);
            return false;
        });
              
        $("#delete-articles").click(function(e) {
            e.preventDefault();
            deleteArticles();
            return false;
        });

        getArticles();
    });
</script>
