@model Egghead.Models.Articles.Article

<header id="topnav">
   <a href="/"><span class="float-left m-l-25 m-t-10" style="color: white; font-size: 38px;">EH</span></a>

    <div id="navigation">
        <ul class="navigation-menu">
            @* <li class="has-submenu"> *@
            @*     <a id="create-article" href="#"><i class="mdi mdi-book-open-page-variant"></i>Create article</a> *@
            @* </li> *@
            @* <li class="has-submenu"> *@
            @*     <a id="get-articles" href="#"><i class="mdi mdi-download"></i>Get articles</a> *@
            @* </li> *@
            @* <li class="has-submenu"> *@
            @*     <a id="delete-articles" href="#"><i class="mdi mdi-comment-remove-outline"></i>Delete articles</a> *@
            @* </li> *@
            <li class="has-submenu float-right">
                <a id="sign-out" href="#"><i class="mdi mdi-logout"></i>Sign Out</a>
            </li>
        </ul>
    </div>
</header>

<article id="@Model.Id" on>
    Test article
</article>

<script>
    $(document).ready(function() {
        function addArticleView() {
            var articleId = $("article").attr("id");

            $.ajax({
                url: "/Articles/AddArticleView?articleId=" + articleId,
                type: "GET",
                contentType: "application/json",
                error: function(jqXhr, textStatus, errorThrown) {
                    console.log("jqXhr: " + jqXhr);
                    console.log("textStatus: " + jqXhr);
                    console.log("errorThrown: " + jqXhr);
                },
                success: function(response) {
                    console.log(response);
                }
            });
        }

        addArticleView();
    });
</script>