@Html.Partial("ArticlesPreviewNavigationPartial")

<div id="articles-preview" class="container-fluid">
</div>

<script>
    $(document).ready(function() {
        function getArticlesPreview() {
            //todo: Get articles count
            $.ajax({
                url: "/Articles/GetArticlesPreview?articlesCount=10",
                type: "GET",
                contentType: "application/json",
                error: function(jqXhr, textStatus, errorThrown) {
                    console.log("jqXhr: " + jqXhr);
                    console.log("textStatus: " + jqXhr);
                    console.log("errorThrown: " + jqXhr);
                },
                success: function(response) {
//                    var html = $.parseHTML(response);
                    $("#articles-preview").html(response);
                }
            });
        }

        $("#publish-article").click(function(e) {
            e.preventDefault();
            window.location.href = "/Articles/ArticlePublication";
            return false;
        });

        getArticlesPreview();
    });
</script>
