@model IEnumerable<Egghead.Models.Articles.ArticleCommentModel>

@if (Model != null && Model.Any())
{
    foreach (var articleComment in Model)
    {
        <div class="media p-2">
            <img class="mr-3" src="/images/64x64.svg" width="64" height="64" alt="Generic placeholder image">
            <div class="media-body">                           
                @Html.Raw(articleComment.Text)
                <div id="@articleComment.Id">
                    <p class="reply-link"><a href="#reply" onclick="showReplyForm('@articleComment.Id')">Reply</a></p>                
                </div>
            </div>
        </div>
    }
}