<header class="header">
    <div class="header__logo">
        <h1>
            <a href="/" style="text-decoration: none"><i class="fa fa-ravelry"></i>GGHEAD</a>
        </h1>
    </div>
    <ul class="top-nav">
        <li class="dropdown">
            <a id="publish-article" href="#" data-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-lg fa-send"></i>
            </a>
        </li>
        <li class="dropdown">
            <a href="" data-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-lg fa-ellipsis-v"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-171px, 36px, 0px);">
                <a id="profile" href="#" class="dropdown-item">Profile</a>
                <a id="log-out" href="#" class="dropdown-item">Log out</a>
            </div>
        </li>
    </ul>
</header>

<section class="content">
    <div class="card">
        <div class="card-body">
            <div class="form-group">
                <small class="font-weight-bold">Title*</small>
                <input id="title" type="text" class="form-control">
                <small class="description">Title should be meaningful so that could understand what the article will be about.</small>
            </div>

            <div class="form-group">
                <small class="font-weight-bold">Category*</small>
                <select class="select2 select2-hidden-accessible" multiple="" tabindex="-1" aria-hidden="true">
                    <option>Subaru</option>
                    <option>Mitsubishi</option>
                    <option>Scion</option>
                    <option>Daihatsu</option>
                    <option>Hino</option>
                </select>
                <span class="select2 select2-container select2-container--default select2-container--above" dir="ltr" style="width: 100%;">
                    <span class="dropdown-wrapper" aria-hidden="true"></span>
                    <small class="description">List of categories that have something in common to group similar articles together.</small>
                </span>

            </div>

            <textarea id="article-editor" style="display: none; margin-top: 25px"></textarea>
        </div>
    </div>
</section>

<script>
    $(document).ready(function() {
        if ($('select.select2')[0]) {
            var select2Parent = $('.select2-parent')[0] ? $('.select2-parent') : $('body');

            $('select.select2').select2({
                dropdownAutoWidth: true,
                width: '100%',
                dropdownParent: select2Parent
            });
        }

        var simplemde = new SimpleMDE({
            status: false,
            element: $("#article-editor")[0],
            placeholder: "Type here...",
            fullScreen: false,
            withPreview: false
        });

        $("#publish-article").click(function(e) {
            e.preventDefault();
            var article = JSON.stringify({
                title: $("#title").val(),
                text: simplemde.options.previewRender(simplemde.value())
            });
            publishArticle(article);
            return false;
        });

        function publishArticle(article) {
            $.ajax({
                url: "/Articles/PublishArticleAsync",
                type: "POST",
                data: article,
                contentType: "application/json",
                error: function() {
                    console.log("Publish article error");
                },
                success: function(response) {
                    window.location.href = response.returnUrl;
                }
            });
        }
    });
</script>