@using Humanizer
@model IEnumerable<Egghead.Models.Articles.ArticleModel>

<div class="container-boxed">
    <div class="row">
        <div class="col-md-3 p-1">
            <div class="card p-2">
                <div style="border-bottom: 1px solid #d5d5d5; margin-bottom: 20px;">
                    <h4 class="text-muted font-bold">Profile</h4>
                </div>
                <div class="text-center">
                    <div class="mb-3">
                        <img src="/images/users/avatar-1.jpg" class="rounded-circle img-thumbnail" alt="profile-image">
                    </div>

                    <div class="mb-3">
                        <h5 id="profile-fullname"></h5>
                        <p id="profile-headline" class="text-muted"></p>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-6">
                            <span class="text-justify">Your articles</span> 
                            <h5 id="profile-articles-count" class="text-center"></h5> 
                        </div>
                        <div class="col-md-6">
                            <span class="text-justify">Following</span>
                            <h5 id="profile-following-count" class="text-center"></h5> 
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Twitter">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Skype">
                                        <i class="fa fa-skype"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>                    
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 p-1">
            <div id="articles-preview" class="container-fluid mb-3">
            </div>
        </div>
        <div class="col-md-3 p-1">
            <div class="card p-4">
                <div style="border-bottom: 1px solid #d5d5d5; margin-bottom: 20px;">
                    <h4 class="text-muted font-bold">Popular on Egghead</h4>
                </div>

                @if (Model != null)
                {
                    <div class="listview">
                        @foreach (var article in Model)
                        {
                            <div class="listview__item">
                                <img src="/images/users/avatar-1.jpg" class="listview__img" alt="">

                                <div class="listview__content">
                                    <div class="listview__heading">
                                        <p>
                                            <a href="/Articles/GetArticleContent?articleId=@article.Id">@article.Title</a>
                                        </p>
                                    </div>
                                    <p>
                                        @article.FirstName @article.LastName <small class="time"> @article.CreatedAt.Humanize()</small>
                                    </p>
                                </div>
                            </div>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<script>
    function onVoteClick(articleId, voteType) {
        var vote = {
            voteType: voteType
        }
        $.ajax({
            url: "/Articles/CreateArticleVoteAsync?articleId=" + articleId,
            type: "POST",
            data: JSON.stringify(vote),
            contentType: "application/json",
            error: function(jqXhr, textStatus, errorThrown) {
                console.log("jqXhr: " + jqXhr);
                console.log("textStatus: " + jqXhr);
                console.log("errorThrown: " + jqXhr);
            },
            success: function(response) {
                switch (voteType) {
                case 1:
                    {
                        $(`#${articleId} small[name=likes]`).text(response);
                    }
                    break;
                case 2:
                    {
                        $(`#${articleId} small[name=dislikes]`).text(response);
                    }
                    break;
                }

            }
        });
    }

    function onBookmarkClick(articleId) {
        $.ajax({
            url: "/Articles/GetProfileDescriptionAsync",
            type: "GET",
            contentType: "application/json",
            error: function(jqXhr, textStatus, errorThrown) {
                console.log("jqXhr: " + jqXhr);
                console.log("textStatus: " + jqXhr);
                console.log("errorThrown: " + jqXhr);
            },
            success: function(response) {
                $("#articles-preview").html(response);
            }
        });
    }

    function getArticlesPreviewPartial() {
        $.ajax({
            url: "/Articles/GetArticlesPreviewPartial",
            type: "GET",
            contentType: "application/json",
            error: function(jqXhr, textStatus, errorThrown) {
                console.log("jqXhr: " + jqXhr);
                console.log("textStatus: " + jqXhr);
                console.log("errorThrown: " + jqXhr);
            },
            success: function(response) {
                $("#articles-preview").html(response);
            }
        });
    }
   
    function getProfileDescriptionAsync() {
        $.ajax({
            url: "/Articles/GetProfileDescriptionAsync",
            type: "GET",
            contentType: "application/json",
            error: function(jqXhr, textStatus, errorThrown) {
                console.log("jqXhr: " + jqXhr);
                console.log("textStatus: " + jqXhr);
                console.log("errorThrown: " + jqXhr);
            },
            success: function(response) {
                $("#profile-fullname").html(`${response.firstName} ${response.lastName}`);
                $("#profile-headline").html(`${response.headline}`);
                $("#profile-articles-count").html(`${response.articlesCount}`);
                $("#profile-following-count").html(`${response.followingCount}`);
            }
        });
    }

    $(document).ready(function() {
        $("#write-article").click(function(e) {
            e.preventDefault();
            window.location.href = "/Articles/WriteArticle";
            return false;
        });

        getArticlesPreviewPartial();
        getProfileDescriptionAsync();
    });
</script>
