@Html.Partial("TopNavigation")

<div class="container-boxed">
    <div class="row">
        <div class="col-12">
            <div class="card mb-3">
                <div class="card-body">
                    <input id="title" type="text" placeholder="Title..."/>
                </div>
            </div>
        </div>       
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <textarea id="article-editor" style="display: none;"></textarea>
                </div>
            </div>
        </div>        
    </div>
</div>

<script>
    $(document).ready(function() {
        var simplemde = new SimpleMDE({
            status: false,
            element: $("#article-editor")[0],
            placeholder: "Type here...",
            fullScreen: false,
            withPreview: false
        });

        function createArticle(article) {
            $.ajax({
                url: "/Articles/CreateArticleAsync",
                type: "POST",
                data: article,
                contentType: "application/json",
                error: function(jqXhr, textStatus, errorThrown) {
                    console.log("jqXhr: " + jqXhr);
                    console.log("textStatus: " + jqXhr);
                    console.log("errorThrown: " + jqXhr);
                },
                success: function() {
                    window.location.href = "/";
                }
            });
        }

        $("#write-article").html("Submit your article").click(function(e) {
            e.preventDefault();
            var article = JSON.stringify({
                title: $("#title").val(),
                text: simplemde.options.previewRender(simplemde.value())
            });
            createArticle(article);
            return false;
        });
    });    
</script>