<header class="header">
    <div class="header__logo">
        <h1><a href="/"><i class="fa fa-reddit-alien"></i> EGGHEAD</a></h1>
    </div>
    <ul class="top-nav">
        <li class="dropdown">
            <a href="" data-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-lg fa-ellipsis-v"></i>
            </a>

            <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-171px, 36px, 0px);">
                <a href="" class="dropdown-item">Profile</a>
                <a id="log-out" href="#" class="dropdown-item">Log out</a>
            </div>
        </li>
    </ul>
</header>

<section class="content" style="display: none">
    <div class="row">
        <div class="col-12">
            <div class="card mb-3">
                <div class="card-body">
                    <input id="title" type="text" placeholder="Title..."/>
                </div>
            </div>
        </div>       
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <textarea id="article-editor" style="display: none;"></textarea>
                </div>
            </div>
        </div>        
    </div>
</section>

<script>
    $(document).ready(function() {
        var simplemde = new SimpleMDE({
            status: false,
            element: $("#article-editor")[0],
            placeholder: "Type here...",
            fullScreen: false,
            withPreview: false
        });

        function createArticle(article) {
            $.ajax({
                url: "/Articles/CreateArticleAsync",
                type: "POST",
                data: article,
                contentType: "application/json",
                error: function(jqXhr, textStatus, errorThrown) {
                    console.log("jqXhr: " + jqXhr);
                    console.log("textStatus: " + jqXhr);
                    console.log("errorThrown: " + jqXhr);
                },
                success: function() {
                    window.location.href = "/";
                }
            });
        }

        $("#write-article").html("Submit your article").click(function(e) {
            e.preventDefault();
            var article = JSON.stringify({
                title: $("#title").val(),
                text: simplemde.options.previewRender(simplemde.value())
            });
            createArticle(article);
            return false;
        });
    });    
</script>