@Html.Partial("Header")

<section class="content">
    <div class="card">      
        <div class="card-body">
            <div class="form-group">
                <input id="title" type="text" class="form-control" placeholder="Title">
                <i class="form-group__bar"></i>
            </div>
            @* <div class="actions"> *@
            @*     <a id="save-article" href="#" class="actions__item fa fa-save"></a> *@
            @*     <a id="upload-image" href="#" class="actions__item fa fa-cloud-upload"></a> *@
            @* </div> *@
            <textarea id="article-editor" style="display: none;"></textarea>
        </div>
    </div>
</section>

<script>
    $(document).ready(function() {
        var simplemde = new SimpleMDE({
            status: false,
            element: $("#article-editor")[0],
            placeholder: "Type here...",
            fullScreen: false,
            withPreview: false
        });

        function createArticle(article) {
            $.ajax({
                url: "/Articles/CreateArticleAsync",
                type: "POST",
                data: article,
                contentType: "application/json",
                error: function(jqXhr, textStatus, errorThrown) {
                    console.log("jqXhr: " + jqXhr);
                    console.log("textStatus: " + jqXhr);
                    console.log("errorThrown: " + jqXhr);
                },
                success: function() {
                    window.location.href = "/";
                }
            });
        }

        $("#publish-article").click(function(e) {
            e.preventDefault();
            var article = JSON.stringify({
                title: $("#title").val(),
                text: simplemde.options.previewRender(simplemde.value())
            });
            createArticle(article);
            return false;
        });
    });    
</script>