.profile {
  @include media-breakpoint-up(md) {
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  @include media-breakpoint-down(sm) {
    margin-top: 75px;
    text-align: center;
  }
}

.profile__img {
  padding: 5px;
  position: relative;

  img {
    max-width: 200px;
    border-radius: $border-radius;
  }

  @include media-breakpoint-down(sm){
    img {
      margin: -55px 0 -10px;
      width: 120px;
      border: 5px solid $white;
      border-radius: 50%;
    }
  }
}

.profile__img__upload {
  position: absolute;
  font-size: 1.4rem;
  top: 15px;
  left: 15px;
  background-color: rgba($black, 0.4);
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  text-align: center;
  transition: background-color .2s;

  &:hover {
    background-color: rgba($black, 0.65);
  }
}

.profile__img__edit {
  color: white !important;
  position: absolute;
  font-size: 1.2rem;
  top: 15px;
  left: 15px;
  background-color: rgba($black, 0.4);
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  text-align: center;
  //color: $white;

  &:hover {
    background-color: rgba($black, 0.5);
    color: $white;
  }
}

.profile__links {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  //padding: 1.25rem
}

.widget-profile__img {
  @include size(120px, 120px);
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.widget-profile__img__hover:hover {
  cursor: pointer;
}