<div id="edit-comment__modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <span class="font-weight-bold">Edit comment</span>
                <button id="edit-comment__close" type="button" class="btn btn-link" data-dismiss="modal">
                    <span>
                        <i class="zmdi zmdi-close zmdi-hc-fw"></i>
                    </span>
                </button>
            </div>
            <div class="modal-body">
                <textarea id="edit__comment--text__editor" style="display: none"></textarea>
            </div>
            <div class="modal-footer">
                <button id="edit-comment__save" type="button" class="btn btn-primary">
                    Save changes
                </button>
            </div>
        </div>
    </div>
</div>