@using Egghead.Models.Articles
@model ArticlesPreviewViewModel

<header class="header">
    <div class="header__logo">
        <h1>
            <a href="/" style="text-decoration: none"><i class="fa fa-ravelry"></i>GGHEAD</a>
        </h1>
    </div>
    <ul class="top-nav">
        <li class="dropdown">
            <a id="compose-article" href="#" data-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-lg fa-pencil"></i>
            </a>
        </li>
        <li class="dropdown hidden-xs-down">
            <a href="" data-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-lg fa-ellipsis-v"></i>
            </a>

            <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-171px, 36px, 0px);">
                <a id="profile" href="/@Model.Profile.Name" class="dropdown-item">Profile</a>
                <a id="log-out" href="#" class="dropdown-item">Log out</a>
            </div>
        </li>
    </ul>
</header>