@using Egghead.Models.Articles
@model AggregatorViewModel

<header class="header">
    <div class="header__logo">
        <h1>
            <a href="/" style="text-decoration: none">EGGHEAD</a>
        </h1>
    </div>
    
    <form class="search">
        <div class="search__inner">
            <input type="text" class="search__text" placeholder="Search for articles...">
            <i class="fa fa-search search__helper" data-ma-action="search-close"></i>
        </div>
    </form>
   
    <ul class="top-nav">
        <li class="dropdown">
            <a id="compose-article" href="#" data-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-lg fa-pencil"></i>
            </a>
        </li>
        <li class="dropdown hidden-xs-down">
            <a href="" data-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-lg fa-ellipsis-v"></i>
            </a>

            <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-171px, 36px, 0px);">
                <a id="profile" href="/Profile" class="dropdown-item">Profile</a>
                <a id="log-out" href="#" class="dropdown-item">Log out</a>
            </div>
        </li>
    </ul>
</header>