@using Bazaar.Models.Post
@model PostsAggregatorModel

@await Html.PartialAsync("_Header", Model.Profile)

<style>
    .pac-container { z-index: 2000 !important; }
</style>

<section id="@Model.Posts.First().PostId" class="content">
    <div class="row">
        @if (Model.Profile == null)
        {
            <div class="col-md-3 p-1">
                @await Html.PartialAsync("SignUpOrLoginPartial", Model.Profile)
            </div>        
        }
        else
        {
            <div class="col-md-3 p-1">
                <div class="card team__item">
                    @await Html.PartialAsync("ProfilePartial", Model.Profile)
                </div>
            </div> 
        }
        <div class="col-md-6 p-1">
            <div class="card">
                @await Html.PartialAsync("PostsPartial", new List<PostModel>
                {
                    Model.Posts.First()
                })
                <div id="comment-form" class="p-4">
                    <textarea id="add__comment--text__editor" style="display: none"></textarea>
                    <div class="row mt-2">
                        <div class="col-12">
                            <button id="add-comment" class="btn btn-primary waves-effect waves-light btn-sm">COMMENT</button>
                        </div>
                    </div>
                </div>
                <div id="post-comments" class="container-fluid">
                    @await Html.PartialAsync("PostCommentsPartial", Model.PostComments)
                </div>
            </div>
        </div>
        <div class="col-md-3 p-1">

        </div>
    </div>
    @await Html.PartialAsync("AddPostModal")
    @await Html.PartialAsync("EditPostModal")
    @await Html.PartialAsync("DeletePostModal")
    @if (Model.Profile != null)
    {
        @await Html.PartialAsync("EditProfileModal", Model.Profile)
    }
</section>