body {
  //background: url("/images/bg-1.png");
  //background: url("/images/bg-1.jpg");
  //background: url("/images/bg-1.jpeg");
  background: darken($light,1%);
  margin: 0;
  color: #4c5667;
  overflow-x: auto !important;
  font-family: $font-primary;
  font-size: 0.95rem;
  padding-bottom: 65px;
  height: 100%;
}

html {
  //overflow: scroll;
  //overflow-x: auto;
  position: relative;
  height: 100%;
  //background: url("/images/bg-1.png");
  //background: url("/images/bg-1.jpg");
  //background: url("/images/bg-1.jpeg");
  background: darken($light,1%);
}

//::-webkit-scrollbar {
//  width: 20px;  /* remove scrollbar space */
//  background: $primary;  /* optional: just make scrollbar invisible */
//}
//
//::-webkit-scrollbar-thumb {
//  background: black;
//}

.widget-user {
  min-height: 112px;
  img {
    height: 72px;
    float: left;
  }

  .wid-u-info {
    margin-left: 90px;

    p {
      white-space: nowrap;
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}


h1 {
  line-height: 43px;
}

h2 {
  line-height: 35px;
}

h3 {
  line-height: 30px;
  small {
    color: $lightdark4;
  }
}

h4 {
  line-height: 22px;
  small {
    color: $lightdark4;
  }
}

h5 {
  small {
    color: $lightdark4;
  }
}

* {
  outline: none !important;
}

a {
  &:hover {
    outline: 0;
    text-decoration: none;
  }
  &:active {
    outline: 0;
    text-decoration: none;
  }
  &:focus {
    outline: 0;
    text-decoration: none;
  }
}

.container {
  width: auto;
}

.container-alt {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.footer {
  background-color: #f9f9f9;
  bottom: 0;
  color: #58666e;
  padding: 20px 30px;
  position: absolute;
  right: 0;
  left: 0;
}

#wrapper {
  height: $height;
  overflow: hidden;
  width: $width;
}

.page {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

.card-box {
  width: 425px;
  padding: 40px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  background-clip: padding-box;
  margin-bottom: 20px;
  background-color: $white;
  z-index: 10;
}

.publish-article-card-box {
  padding: 40px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  background-clip: padding-box;
  margin-bottom: 20px;
  background-color: $white;
  z-index: 10;
}

.header-title {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
  line-height: 16px;
  margin-bottom: 8px;
  margin-top: 0;
}

.social-links {
  li {
    a {
      -webkit-border-radius: 50%;
      background: #EFF0F4;
      border-radius: 50%;
      color: #7A7676;
      display: inline-block;
      height: 30px;
      line-height: 30px;
      text-align: center;
      width: 30px;
    }
  }
}

.r-btn {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 2px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 2px;
  transition: box-shadow .3s, background-color .3s, border-color .3s;
}

.r-btn--icon {
  padding: 0;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  font-size: 1.2rem;
  text-align: center;
}

.r-btn--icon-no-hover {
  padding: 0;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  font-size: 1.2rem;
  text-align: center;
}

.r-btn-light {
  color: $primary;
  background-color: $white;
  border-color: $white;
}

.r-btn-light:hover {
  color: $primary;
  background-color: #dddcdc;
  border-color: #dddcdc;
  cursor: pointer;
}

.r-btn-light-no-hover {
  color: $primary;
  //background-color: $white;
  //border-color: $white;
}

.r-btn--icon-text > .zmdi {
  font-size: 1.15rem;
  margin: -1px 5px 0 0;
  vertical-align: middle
}

#scroll-up {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #e5e9ee; /* Set a background color */
  color: $primary; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  font-size: 18px; /* Increase font size */
}

#scroll-down {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #e5e9ee; /* Set a background color */
  color: $primary; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  font-size: 18px; /* Increase font size */
}

.reply-footer {

}

.text-dashed {
  cursor: pointer;
  border-bottom: 1px dashed;
  color: $primary;
}