body {
  background: darken($light,1%);
  margin: 0;
  color: #4c5667;
  overflow-x: auto !important;
  font-family: $font-primary;
  font-size: 0.95rem;
  padding-bottom: 65px;
  height: 100%;
}

html {
  position: relative;
  height: 100%;
  background: darken($light,1%);
}

* {
  outline: none !important;
}

a {
  &:hover {
    outline: 0;
    text-decoration: underline;
  }
  &:active {
    outline: 0;
    text-decoration: none;
  }
  &:focus {
    outline: 0;
    text-decoration: none;
  }
}

//img {
  //width: 100%;
  //height: 100%;
//}

#wrapper {
  height: $height;
  overflow: hidden;
  width: $width;
}

.r-btn {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 2px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 2px;
  transition: box-shadow .3s, background-color .3s, border-color .3s;
}

.r-btn--icon {
  padding: 0;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  font-size: 1.2rem;
  text-align: center;
}

.r-btn--icon-no-hover {
  padding: 0;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  font-size: 1.2rem;
  text-align: center;
}

.r-btn-light {
  color: $primary;
  background-color: $white;
  border-color: $white;
}

.r-btn-light:hover {
  color: $primary;
  background-color: #F3F5F8;
  border-color: #F3F5F8;
  cursor: pointer;
}

.r-btn-light-no-hover {
  color: $primary;
}

.r-btn--icon-text > .zmdi {
  font-size: 1.15rem;
  margin: -1px 5px 0 0;
  vertical-align: middle
}

time {
  color: #657786
}

.time:before {
  content: "\00b7"
}

blockquote {
  padding: 0 1rem;
  margin-left: 0;
  color: #819198;
  border-left: 0.3rem solid #dce6f0;
}

.fa-lh {
  line-height: 30px;
}

.clipped-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 0;
}