body {
  //background: url("/images/bg-1.png");
  //background: url("/images/bg-1.jpg");
  //background: url("/images/bg-1.jpeg");
  background: darken($light,1%);
  margin: 0;
  color: #4c5667;
  overflow-x: auto !important;
  font-family: $font-primary;
  font-size: 0.95rem;
  padding-bottom: 65px;
  height: 100%;
}

html {
  //overflow: scroll;
  //overflow-x: auto;
  position: relative;
  height: 100%;
  //background: url("/images/bg-1.png");
  //background: url("/images/bg-1.jpg");
  //background: url("/images/bg-1.jpeg");
  background: darken($light,1%);
}

.widget-user {
  min-height: 112px;
  img {
    height: 72px;
    float: left;
  }

  .wid-u-info {
    margin-left: 90px;

    p {
      white-space: nowrap;
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

* {
  outline: none !important;
}

a {
  &:hover {
    outline: 0;
    text-decoration: none;
  }
  &:active {
    outline: 0;
    text-decoration: none;
  }
  &:focus {
    outline: 0;
    text-decoration: none;
  }
}

.container {
  width: auto;
}

.container-alt {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.footer {
  background-color: #f9f9f9;
  bottom: 0;
  color: #58666e;
  padding: 20px 30px;
  position: absolute;
  right: 0;
  left: 0;
}

#wrapper {
  height: $height;
  overflow: hidden;
  width: $width;
}

.page {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

.r-btn {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 2px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 2px;
  transition: box-shadow .3s, background-color .3s, border-color .3s;
}

.r-btn--icon {
  padding: 0;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  font-size: 1.2rem;
  text-align: center;
}

.r-btn--icon-no-hover {
  padding: 0;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  font-size: 1.2rem;
  text-align: center;
}

.r-btn-light {
  color: $primary;
  background-color: $white;
  border-color: $white;
}

.r-btn-light:hover {
  color: $primary;
  background-color: #dddcdc;
  border-color: #dddcdc;
  cursor: pointer;
}

.r-btn-light-no-hover {
  color: $primary;
  //background-color: $white;
  //border-color: $white;
}

.r-btn--icon-text > .zmdi {
  font-size: 1.15rem;
  margin: -1px 5px 0 0;
  vertical-align: middle
}

.reply-footer {

}

time {
  color: #657786
}

.time:before {
  content: "\00b7"
}

.clipped-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 0;
}