@model Egghead.Models.LoginViewModel

@{ ViewData["Title"] = "Login Page"; }

<div class="card-box">
    <div class="row">
        <div class="title col-md-12 font-bold text-left m-b-30" style="color: #222">
            <h6>
                Sign in with your Egghead account
            </h6>
        </div>
    </div>
    <form id="form" asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
        <div class="form-group row">
            <div class="col-md-12">
                <label class="floating-label label-required">Email</label>
                <input type="email" required="">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-12">
                <label class="floating-label label-required">Password</label>
                <input type="password" required="">
            </div>
        </div>
        <div class="form-group row">
            <div class="input-group">
                <span class="p-t-7">
                    <a href="/Account/Recover" class="text-muted"><i class="fa fa-lock m-r-5"></i> Forgot password?</a>
                </span>
                <span class="input-group-btn ml-auto">
                    <button id="eggh-login" class="btn btn-danger w-xs waves-effect waves-light">Next</button>
                </span>
            </div>
        </div>
    </form>
    <div class="col-sm-12 p-t-20 text-center text-muted">Don't have an account? <a href="/Account/Register"> Sign up</a></div>
</div>


<script src="~/js/account/account.js"></script>

<script>
    $("input[type='email']").focusin(function() {
        $(this).prev().addClass("label-active");
    }).focusout(function() {
        if (this.value === "") {
            console.log("Email input is empty");
            $(this).prev().removeClass("label-active");
        } else {
            console.log("Email input is not empty");
            $(this).prev().addClass("label-active");
        }
    });

    $("input[type='password']").focusin(function() {
        $(this).prev().addClass("label-active");
    }).focusout(function() {
        if (this.value === "") {
            console.log("Password input is empty");
            $(this).prev().removeClass("label-active");
        } else {
            console.log("Password input is not empty");
            $(this).prev().addClass("label-active");
        }
    });

    $(document).ready(function() {
        $("#eggh-login").click(function(e) {
            e.preventDefault();

            var url = $("#form").attr("action");
            console.log("Request url: " + url);

            var token = $("input[name=__RequestVerificationToken]").val();
            console.log("Request verification token: " + token);

            var email = $("input[type=email]").val();
            console.log("Email: " + email);

            var password = $("input[type=password]").val();
            console.log("Password: " + password);

            var additionalHeaders = {};

            if (token) {
                additionalHeaders["RequestVerificationToken"] = token;
            }

            var model = {
                email: email,
                password: password
            };

            $.ajax({
                url: url,
                type: "POST",
                data: JSON.stringify(model),
                headers: additionalHeaders,
                contentType: "application/json",
                error: function(jqXhr, textStatus, errorThrown) {
                    switch (errorThrown) {
                    case "Unauthorized":
                        {
                            $("input[type=email]").prev().addClass("label-error");
                            $("input[type=password]").prev().addClass("label-error");
                            //Wrong password. Try again or click Forgot password to reset it
                        }
                        break;
                    case "Internal Server Error":
                        {
                            console.log("Service is temporarily unavailable");
                        }
                        break;
                    }
                },
                success: function(data) {
                    console.log(data);
                }
            });
            return false;
        });
    });
</script>