@model Egghead.Models.RegisterViewModel

@{ ViewData["Title"] = "Register Page"; }

<div class="card-box">
    <div class="row">
        <div class="title col-md-12 font-bold text-center m-b-30" style="color: #222">Log in to Egghead</div>
    </div>
    <form id="form" asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" role="form">
        <div class="form-group row">
            <div class="col-md-12">
                <label class="floating-label label-required">Email</label>
                <input type="email" required="">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-12">
                <label class="floating-label label-required">Password</label>
                <input type="password" required="">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-12">
                <button type="button" class="btn btn-block eggh-btn-primary waves-effect waves-light">Log In</button>
            </div>
        </div>
    </form>
</div>

<script src="~/js/account/account.js"></script>

<script>
    var inputs = document.querySelectorAll('input[type="email"], input[type="password"]');

    if (inputs) {
        for (var i = 0; i < inputs.length; i++) {
            inputs[i].previousElementSibling.classList.add('floating-label');

            inputs[i].addEventListener('focusin',
                function() {
                    this.previousElementSibling.classList.add('label-active');
                });

            inputs[i].addEventListener('focusout',
                function() {
                    if (!(this.value === '')) {
                        this.classList.add('input-active');
                    } else {
                        this.classList.remove('input-active');
                        this.previousElementSibling.classList.remove('label-active');
                    }
                });
        }
    }

    $(document).ready(function() {
        $("#form").submit(function() {
            var token = $("input[name=__RequestVerificationToken]").val();

            //todo: parse email, password

            Account.loginAjax("victor.chicu@hotmail.com",
                "ZAQ!2wsx",
                token,
                function(data) {
                    //todo: render result
                });

            return false;
        });
    });
</script>