<header class="header">
    <div class="header__logo">
        <h1>
            <a href="/" style="text-decoration: none">EGGHEAD</a>
        </h1>
    </div>
    <ul class="top-nav">
        <li class="dropdown">
            <a id="publish-ads" href="#" class="waves-effect" data-toggle="dropdown" aria-expanded="false">
                <i class="zmdi zmdi-mail-send zmdi-hc-fw"></i>
            </a>
        </li>
        <li class="dropdown">
            <a href="" data-toggle="dropdown" class="waves-effect" aria-expanded="false">
                <i class="zmdi zmdi-more-vert"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-171px, 36px, 0px);">
                <a id="profile" href="#" class="dropdown-item">Profile</a>
                <a id="log-out" href="#" class="dropdown-item">Log out</a>
            </div>
        </li>
    </ul>
</header>

<section class="content">
    <div class="card">
        <div class="card-body">
            <div class="form-group">
                <small class="font-weight-bold">What are you selling?</small>
                <input id="title" type="text" class="form-control">
                <small class="description">Should be meaningful so that people could understand what the announcement will be about..</small>
            </div>

            <div class="form-group">
                <small class="font-weight-bold">Price</small>
                <input id="price" type="text" class="form-control">
            </div>
           
            <div class="form-group">
                <small class="font-weight-bold">Add location (optional)</small>
                <input id="location" type="text" class="form-control">
            </div>
            
            <div class="form-group">
                <div id="dropzone">
                    <form asp-controller="Advertisements" asp-action="AddAdvertisementPhotos" class="dropzone needsclick dz-clickable" id="demo-upload">
                        <div class="dz-message needsclick">
                            Drop files here or click to upload.<br>
                        </div>
                    </form>
                </div>
            </div>
            
            <textarea id="ads-editor" style="display: none; margin-top: 25px"></textarea>
        </div>
    </div>
</section>

<script>
    $(document).ready(function() {
        if ($('select.select2')[0]) {
            var select2Parent = $('.select2-parent')[0] ? $('.select2-parent') : $('body');

            $('select.select2').select2({
                dropdownAutoWidth: true,
                width: '100%',
                dropdownParent: select2Parent
            });
        }

        var simplemde = new SimpleMDE({
            status: false,
            element: $("#ads-editor")[0],
            placeholder: "Type here...",
            fullScreen: false,
            withPreview: false
        });

        $("#publish-ads").click(function(e) {
            e.preventDefault();

            var title = $("#title").val();

            if (title === null || title === "")
                return;
            
            var text = simplemde.options.previewRender(simplemde.value());

            if (text === null || text === "")
                return;
           
            var ads = JSON.stringify({
                title: title,
                text: text
            });
            
            publishAdvertisement(ads);
            
            return false;
        });

        function publishAdvertisement(ads) {
            $.ajax({
                url: "/Advertisements/PublishAdvertisementAsync",
                type: "POST",
                data: ads,
                contentType: "application/json",
                error: function() {
                    console.log("Publish ads error");
                },
                success: function(response) {
                    window.location.href = response.returnUrl;
                }
            });
        }
    });
</script>