@using Egghead.Models.Advertisements;

@model IEnumerable<RecommendedAdvertisementViewModel>

@if (Model != null)
{
    <div class="listview">
        @foreach (var advert in Model)
        {
            <div class="listview__item">
                <div class="mr-2" style="width: 50px; height: 50px">
                    @if (!string.IsNullOrEmpty(advert.ProfileImagePath))
                    {
                        <img src="@advert.ProfileImagePath" class="listview__img" alt="">
                    }
                    else
                    {
                        <img src="/images/no_image.png" class="listview__img" alt="">
                    }
                </div>
                <div class="listview__content">
                    <div class="listview__heading">
                        <p>
                            <a class="font-weight-bold" href="/Ads/@advert.AdsId">@advert.Title</a>
                        </p>
                    </div>
                    <p>
                        <a href="/Profile/@advert.ProfileName" style="font-size: 0.8rem">@advert.ProfileName</a>
                        <small class="time"> @advert.CreatedAt</small>
                    </p>
                </div>
            </div>
        }
    </div>
}