.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
.card > .actions,
.card-body > .actions {
  position: relative;
  right: 15px;
  z-index: 2;
  top: 18px;
}

.actions {
  &:not(.actions--inverse) {
    .actions__item {
      color: lighten($body-color, 20%);

      &:hover {
        color: $body-color;
      }

      &.actions__item--active {
        color: darken($body-color, 10%);
      }
    }
  }

  &:not(.posts--inverse) {
    .posts__item {
      color: lighten($body-color, 20%);

      &:hover {
        color: $body-color;
      }

      &.posts__item--active {
        color: darken($body-color, 10%);
      }
    }
  }
}

.posts__item {
  display: inline-block;
  vertical-align: top;
  line-height: 50px;
  font-size: 1.3rem;
  cursor: pointer;
  transition: color 300ms;
  float: right;
  @include size(25px, 0px);

  & > i {
    display: inline-block;
    width: 100%;
  }
}

.actions__item {
  display: inline-block;
  vertical-align: top;
  line-height: 50px;
  font-size: 1.3rem;
  cursor: pointer;
  transition: color 300ms;
  float: right;
  @include size(50px, 0px);

  & > i {
    display: inline-block;
    width: 100%;
  }
}

.comments__item {
  color: #a9adb1;
  display: inline-block;
  vertical-align: top;
  line-height: 38px;
  font-size: 1.3rem;
  cursor: pointer;
  transition: color 300ms;
  @include size(12px, 0px);
  & > i {
    display: inline-block;
    width: 100%;
  }
}

.actions--inverse {
  .actions__item {
    color: rgba($white, 0.7);

    &:hover {
      color: $white;
    }
  }

  .posts__item {
    color: rgba($white, 0.7);

    &:hover {
      color: $white;
    }
  }
  
  .actions__item--active {
    color: $white;
  }

  .posts__item--active {
    color: $white;
  }
}

.content__break {
  width: 95%;
}

.card-user {
  position: relative;
}

.recommended-post {
  position: relative;
}

.card-user__info {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  padding: 1rem;
}

.recommended-post__info {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  padding: 0.2rem;
}

.card-user__img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.recommended-post__profile--img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.card-user__name {
  //color: $headings-color;
  font-weight: $font-weight-bold;
}

.card-user__name:hover {
  text-decoration: underline;
}

.recommended-post__title {
  //color: $headings-color;
  font-weight: $font-weight-bold;
}

.recommended-post__title:hover {
  text-decoration: underline;
}

.card-user__time {
  color: $text-muted;
  //margin-top: 0.1rem;
  line-height: 100%;
}