.card-hover:hover {
  //cursor: pointer;
  background-color: #f8fafd;
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1rem;
}

.card > .actions,
.card-body > .actions {
  position: absolute;
  right: 15px;
  z-index: 2;
  top: 18px;
}

.card-title:hover {
  text-decoration: underline;
}

.actions {
  &:not(.actions--inverse) {
    .actions__item {
      color: lighten($body-color, 20%);

      &:hover {
        color: $body-color;
      }

      &.actions__item--active {
        color: darken($body-color, 10%);
      }
    }
  }
}

.actions__item {
  display: inline-block;
  vertical-align: top;
  line-height: 31px;
  text-align: center;
  font-size: 1.5rem;
  cursor: pointer;
  transition: color 300ms;
  //margin: 0 2px;
  @include size(30px, 30px);

  & > i {
    display: inline-block;
    width: 100%;
  }
}

.actions--inverse {
  .actions__item {
    color: rgba($white, 0.7);

    &:hover {
      color: $white;
    }
  }

  .actions__item--active {
    color: $white;
  }
}

.content__break {
  width: 95%;
}

.card-user {
  position: relative;
}

.card-user__info {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  padding: 0.5rem;
}

.card-user__img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-right: 0.8rem;
}

.card-user__name {
  //color: $headings-color;
  font-weight: $font-weight-bold;
}

.card-user__name:hover {
  text-decoration: underline;
}

.card-user__time {
  color: $text-muted;
  margin-top: 0.1rem;
  line-height: 100%;
}